<style>
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

        .flex-child:first-child {
            margin-right: 20px;
        }
</style>
<div>
    <h1>Let's get to know Shoki!</h1>
    <h4>here's a short piece that gives you a little idea of who Shoki is...</h4><br />
    <div style="background-color:lightgray">
        <div class="flex-container">


            <div class="flex-child magenta">
                <div style="margin-left:5%">
                    <h3>Biography</h3>
                    <p>
                        I am Shoki and I can be easiest described as a chilled and easy going. In general, I am person who enjoys time alone as much as I does a good social setting. To me a great social scene would be having brunch with a couple of friends on a sunday morning with mimosas or a perfect games night with my friends with an immpecable vibe to match the people there. Looking fly is very important to me so I always make sure I look my best when I am out regardless of the setting I may find myself in and this is heavily motivated by my interest in Fashion, Sneaker Culture and perfecting my personal style.
                    </p><br>


                    <p>
                        Days where I want to fly solo include listening to carefully curated playlists that i have made since forever and just jamming. I also enjoy watching animations e.g Bojack Horseman, American Dad etc. to unwind and a good book is never a bad idea. These kind of days also include finding creative inspo on the internet on platforms such as Pinterest and checking which sneakers are dropping next.
                    </p><br>


                    <p>
                        Other than the things I enjoy, I think a very important aspect of Shoki is my way of life. It has been a constant journey of trying to grow and learn more about myself through the never-ending lessons that life has for us. That has shaped me to be a person that is level-headed and mature. On a more serious note though, I was born and bred in Johannesburg with a growing passion to retire on a secluded vineyard and growing up life was pretty comical and smooth. It was mostly comprised of running around with my friends during break time, listening to the timeless music that was played at home, birthdays at McDonalds and playing Tom and Jerry with my siblings. All these little bits and pieces of the puzzle have shaped me to be the amazing person I am today!
                    </p><br>

                </div>
            </div>

            <div class="flex-child green">
                <h3>Shoki</h3>
                <br />
                <img style="margin-left:10%; width:80%" src="~/Image/Shoki.jpeg" />
            </div>
        </div>
    </div>
</div>